# MySQL Database Configuration
# Gunakan 'db' sebagai host jika menggunakan Docker Compose
DATABASE_URL=mysql://pepadu:pepadu@db:3306/admin_db
MIKHMON_DATABASE_URL=mysql://mikhmon_user:mikhmon_pass123@db:3306/mikhmon

# Server Configuration
HOST=0.0.0.0
PORT=8080

# Security (Ganti dengan secret yang kuat)
JWT_SECRET=fOYylM8AOefylXlN9TqQo+FYSp64pzo6CwcV9KAbbvqQ0p/luzHAlO1eoZnk8I2X9r4lIOhv4+6eepftmHmY0g==
